.luxury {
  color: $primary_color;
  padding-bottom: 50px;
  background-color: $primary_background;
  border-bottom: 2px dashed $primary_color;
  & .luxuryheading {
    @include head_style;
  }
  & .carousel {
    width: 50%;
    margin: auto;
    & img {
      @include image_border_width;
    }
  }
}
