.place {
  font-family: wtlight;
  background-color: $primary_background;
  color: $primary_color;
  padding-bottom: 50px;
  border-bottom: 2px dashed $primary_color;
  & .title {
    @include head_style;
  }
  & .reasons {
    width: 65%;
    margin: auto;
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      & div {
        @include flexer;
        background-color: $dark_background;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
      }
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .reasontitle {
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
