.reviews {
  background-color: $primary_background;
  color: $primary_color;
  padding-bottom: 50px;
  & .reviewsheading {
    @include head_style;
  }
  & > div {
    font-family: wtlight;
    & .name {
      text-transform: uppercase;
      font-family: "Roboto Slab", serif;
      margin: 20px 0;
      font-size: 20px;
    }
  }
  & .flex-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 70%;
    margin: auto;
    & div {
      background-color: $dark_background;
      text-align: center;
      padding: 30px;
      @include image_border_width;
    }
  }
  & img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  & .flex-1 {
    width: 70%;
    margin: 50px auto 0 auto;
    background-color: $dark_background;
    padding: 50px;
    @include image_border_width;
    @include flexer;
    flex-direction: column;
    justify-content: center;
    & div {
      text-align: center;
    }
  }
}
