$button_background: #fe0036;
$dark_background: #080808;
$primary_color:#fcfeff;
$primary_background:#000000;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: wtlight;
  src: url("../fonts/whitneyhtf-light.27502126ab5d4edca4cd6fc7f9d09eb8-webfont.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: wtlight;
}
.top-left {
  border-top-left-radius: 35px;
}
.bottom-right {
  border-bottom-right-radius: 35px;
}
::selection {
  color: black;
  background: white;
}
a:hover {
  opacity: 0.5;
}
@mixin navbar_button_style() {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@mixin button_style() {
  text-decoration: none;
  color: inherit;
  background-color: $button_background;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@mixin flexer() {
  display: flex;
  align-items: center;
}
@mixin head_style() {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
@mixin image_border_radius{
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}