@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
$button_background: #fe0036;
$dark_background: #080808;

@font-face {
  font-family: wt;
  src: url("../fonts/WhitneyHTF-Book.woff2");
}
@font-face {
  font-family: wtlight;
  src: url("../fonts/whitneyhtf-light.27502126ab5d4edca4cd6fc7f9d09eb8-webfont.woff2");
}
@font-face {
  font-family: wtsemibold;
  src: url("../fonts/whitneyhtf-semibold.07c6883ca1de7b74c59d207ce9d5845e-webfont.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: wtlight;

}

.top-left {
  border-top-left-radius: 35px;
}
.bottom-right {
  border-bottom-right-radius: 35px;
}

::selection {
  color: black;
  background: white;
}
a:hover{
    opacity: 0.5;
}