.error404{
    @include flexer;
    justify-content: space-around;
    background-color: $primary_background;
    color:$primary_color;
    & img{
        width:50%;
        @include image_border_width;
    }
}