.error404 {
  background-color: $primary_background;
  color: $primary_color;
  border-top: 2px dashed $primary_color;
  margin: auto;
  padding: 50px 0;
  text-align: center;
  & .error404_inner {
    @include flexer;
    justify-content: space-around;
    & .error_message {
      width: 50%;
      & .error_message_head {
        @include head_style;
      }
    }
    & img {
      width: 40%;
      @include image_border_width;
    }
    & a {
      @include button_style;
    }
  }
}
