@media screen and (max-width: 995px) {
  .error404 {
    margin: auto;
    & .error404_inner {
      flex-direction: column;
      width: 60%;
      margin: auto;
      padding-bottom: 30px;
      & img {
        width: 100%;
      }
      & .error_message_head {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 795px) {
  .error404 {
    & .error404_inner {
      flex-direction: column;
      width: 75%;
      & .error_message {
        & .error_message_head {
          font-size: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 495px) {
  .error404 {
    & .error404_inner {
      flex-direction: column;
      width: 85%;
    }
  }
}
@media screen and (max-width: 355px) {
  .error404 {
    & .error404_inner {
      flex-direction: column;
      width: 95%;
    }
  }
}
