.footer {
  padding-bottom: 50px;
  background-color: $dark_background;
  color: white;
 & .footer-inner{
    margin: auto;
    width:70%;
    & .quick{
        margin-bottom: 50px;
        & p{
            margin-bottom: 20px;
        }
        & .thelinks{
            display: flex;
            justify-content: space-between;
        }
    }
    & .devandreach{
       display: flex;
       justify-content: space-between;
       align-items: center;
       & .footertopics{
        margin-bottom: 10px;
       }
    }
    & .footerheading {
        font-family: "Roboto Slab", serif;
        font-size: 30px;
        padding: 50px 0;
      }

      & .footertopics {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
      }
      & a{
        text-decoration: none;
        color: inherit;
        background-color: $button_background;
        padding: 12px 30px;
        display: inline-block;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
 }
  
}
