.footer {
  padding-bottom: 50px;
  background-color: $dark_background;
  color: $primary_color;
  & .footer-inner {
    margin: auto;
    width: 70%;
    & .quick {
      margin-bottom: 50px;
      & p {
        margin-bottom: 20px;
      }
      & .thelinks {
        @include flexer;
        justify-content: space-between;
      }
    }
    & .devandreach {
      @include flexer;
      justify-content: space-between;
      & .footertopics {
        margin-bottom: 10px;
      }
    }
    & .footerheading {
      @include head_style;
      font-size: 30px;
      text-align: left;
    }

    & .footertopics {
      font-family: "Roboto Slab", serif;
      font-size: 20px;
    }
    & a {
      @include button_style;
    }
  }
}
