.hero {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  & .text {
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: wtlight;
    border-bottom: 2px dashed white;
    & .home {
      margin: 20px 0;
      font-size: 30px;
    }
    & .welcome {
      font-family: "Roboto Slab", serif;
      font-size: 60px;
    }
    & a {
      color: inherit;
      text-decoration: none;
      background-color: $button_background;
      padding: 12px 40px;
      display: inline-block;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
