.navbar {
  background-color: $primary_background;
  color: $primary_color;
  padding: 30px 0;
  @include flexer;
  justify-content: space-around;
  & p {
    font-family: "Roboto Slab", serif;
  }
  & ul {
    @include flexer;
    justify-content: space-between;
    list-style: none;
    & li {
      margin-right: 40px;
      & a {
        @include navbar_button_style;
        &:hover {
          background-color: $button_background;
          opacity: 1;
        }
      }
    }
  }
  & .bar {
    display: none;
  }
}
