// Navbar responsiveness
@media screen and (max-width: 1053px) {
  nav {
    & .navbar {
      width: 100%;
    }
  }
}
@media screen and (min-width: 893px) {
  nav {
    & .navbar {
      & ul {
        display: flex;
      }
    }
    & .bar {
      display: none;
    }
  }
}
@media screen and (max-width: 893px) {
  nav {
    & .navbar {
      width: 100%;
      & ul {
        display: none;
      }
    }
    & .mobile-nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      & li {
        list-style: none;
        & a {
          @include navbar_button_style;
          &:hover {
            background-color: $button_background;
            opacity: 1;
          }
        }
      }
    }
  }
}
