@media screen and (max-width: 1191px) {
  .offernav {
    & .offers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
      width: 60%;

    //   & div{
    //   }
    }
  }
}
