.place {
  font-family: wtlight;
  background-color: black;
  color: white;
  padding-bottom: 50px;
  & .title {
    padding: 50px 0;
    font-size: 60px;
    text-align: center;
    font-family: "Roboto Slab", serif;
  }
  & .reasons {
    width: 65%;
    margin: auto;
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      & div {
        background-color: $dark_background;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
      }
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .reasontitle {
      font-family: "Roboto Slab", serif;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
