.restaurant_bar {
  color: white;
  text-align: center;
  background-color: black;
  & .restaurant_bar_hero {
    height: 100vh;
    background: linear-gradient(to bottom, $dark_background 50%, black 50%);
    & .restaurant_bar_hero_title {
      font-size: 60px;
      font-family: "Roboto Slab", serif;
      padding: 50px 0;
      text-align: center;
    }
    & img {
      width: 50%;
    }
  }
  & .menu_head {
    font-size: 60px;
    font-family: "Roboto Slab", serif;
    padding: 50px 0;
    text-align: center;
  }

  & .the_menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:4rem;
    width: 80%;
    margin: auto;
    & >div{
        background-color: $dark_background;
    }
  }
}





// url("../img/pizza_1.png")