.reviews {
  background-color: black;
  border-bottom: 2px dashed white;
  color: white;
  & .reviewsheading {
    font-size: 60px;
    padding: 50px;
    font-family: "Roboto Slab", serif;
    text-align: center;
  }
  & >div{
    background-color: $dark_background;
  }
  & .flex-2{}
  & img{
    height: 70px;
    width: 70px;
    border-radius: 50%;

  }
}
