.rooms_suites {
  background-color: black;
  color: white;
  padding-bottom: 50px;
  border-top: 2px dashed white;
  & .rooms_suiteshead {
    font-size: 60px;
    padding: 50px 0;
    font-family: "Roboto Slab", serif;
    text-align: center;
  }
  & .therooms {
    margin: auto;
    & .room {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 30px;
      & .roomname{
        font-size: 30px;
        font-family: "Roboto Slab", serif;
      }
      & .details{
        margin: 30px 0 30px 15px;
      }
      & img {
        width: 50%;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      & a{
        text-decoration: none;
        color: inherit;
        background-color: $button_background;
        padding: 12px 30px;
        display: inline-block;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
