.rooms_suites {
  background-color: $primary_background;
  color: $primary_color;
  padding-bottom: 50px;
  border-top: 2px dashed $primary_color;
  & .rooms_suiteshead {
    @include head_style;
  }
  & .therooms {
    margin: auto;
    & .room {
      @include flexer;
      justify-content: space-around;
      margin-bottom: 30px;
      & .roomname {
        font-size: 30px;
        font-family: "Roboto Slab", serif;
      }
      & .details {
        margin: 30px 0 30px 15px;
      }
      & img {
        @include image_border_width;
        width: 50%;
      }
      & a {
        @include button_style;
      }
    }
  }
}
