@media screen and (max-width: 1095px) {
  .spa {
    .spa-hero {
      & div {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 995px) {
  .spa {
    .spa-hero {
      background-position: center;
      & div {
        width: 50%;
      }
    }
    & .time-off {
      width: 70%;
    }
    & .spa-services {
      & .all-spa-services {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 795px) {
  .spa {
    & .time-off {
      width: 80%;
    }
    & .spa-services {
      & .all-spa-services {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 695px) {
  .spa {
    .spa-hero {
      background-position: center;
      justify-content: center;
      background-position: center;
      & div {
        margin: 0;
        width: 90%;
        text-align: center;
      }
    }
    & .time-off {
      & .time-off-head {
        font-size: 40px;
      }
    }
    & .spa-services {
      & .spa-services-head {
        font-size: 40px;
      }
      & .all-spa-services {
        grid-template-columns: repeat(1, 1fr);
        & .service {
          & .each-service-details {
            margin-top: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 495px) {
  .spa {
    .spa-hero {
      & div {
        margin: 0;
        width: 90%;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 395px) {
  .spa {
    & .spa-hero {
      & div {
        & .spa-hero-head {
          font-size: 40px;
        }
      }
    }
    & .time-off {
      width: 90%;
    }
  }
}
