.spa {
  background-color: $primary_background;
  color: $primary_color;
  & .spa-hero {
    @include flexer;
    height: 90vh;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.99) 20%,
        rgba(0, 0, 0, 0.3)
      ),
      url("../img/s.png");
    & div {
      width: 30%;
      margin-left: 100px;
      & .spa-hero-head {
        font-size: 60px;
        font-family: "Roboto Slab", serif;
      }
      & .spa-hero-about {
        margin: 40px 0;
      }
      & a {
        @include button_style;
      }
    }
  }

  & .time-off {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    & .time-off-head {
      @include head_style;
    }
    & .time-off-about {
      margin-bottom: 50px;
    }
    & a {
      @include button_style;
    }
  }
  & .spa-services {
    & .spa-services-head {
      @include head_style;
    }
    padding-bottom: 50px;
    & .all-spa-services {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
      width: 70%;
      margin: auto;
      & .service {
        background-color: $dark_background;
        padding: 30px;
        text-align: center;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        & .each-service-head {
          font-size: 20px;
          font-family: "Roboto Slab", serif;
        }
        & .each-service-details {
          margin-top: 15px;
          text-align: left;
          & p:nth-child(2) {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
