.offernav {
  color: $primary_color;
  background-color: $primary_background;
  border-top: 2px dashed $primary_color;
  padding-bottom: 50px;
  & .offerpagehead {
    @include head_style;
  }
  & .offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    width: 70%;
    margin: auto;
    & .offer1 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/romance.jpg");
    }
    & .offer2 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/wellness.jpg");
    }
    & .offer3 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/family.jpg");
    }
    & .offer4 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/early.jpg");
    }
    & .offer5 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/suite.jpg");
    }
    & .offer6 {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.55),
          rgba(0, 0, 0, 0.55)
        ),
        url("../img/christmas.jpg");
    }
    & a {
      @include button_style;
    }
    & div {
      @include image_border_radius;
      @include flexer;
      height: 40vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      justify-content: center;
      flex-direction: column;
      & p {
        margin-bottom: 20px;
      }
    }
  }
}
