.romantic {
  background-color: $primary_background;
  color: $primary_color;
  padding: 50px 0;
  border-top: 2px dashed $primary_color;
  & .romantic-inner {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    & img {
      width: 70%;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    & div {
      @include flexer;
      flex-direction: column;
      justify-content: center;
      & .romance-main-head {
        @include head_style;
      }
      & .about-offer {
        margin: 30px 0;
      }
      & a {
        @include button_style;
      }
    }
  }
}
