@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: wtlight;
  src: url("../fonts/whitneyhtf-light.27502126ab5d4edca4cd6fc7f9d09eb8-webfont.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: wtlight;
}

.top-left {
  border-top-left-radius: 35px;
}

.bottom-right {
  border-bottom-right-radius: 35px;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

a:hover {
  opacity: 0.5;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fcfeff;
  padding: 30px 0;
  justify-content: space-around;
}
.navbar p {
  font-family: "Roboto Slab", serif;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.navbar ul li {
  margin-right: 40px;
}
.navbar ul li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.navbar ul li a:hover {
  background-color: #fe0036;
  opacity: 1;
}
.navbar .bar {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.hero .text {
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  color: #fcfeff;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  font-family: wtlight;
}
.hero .text .home {
  margin: 20px 0 30px 0;
  font-size: 30px;
}
.hero .text .welcome {
  font-family: "Roboto Slab", serif;
  font-size: 60px;
}
.hero .text a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.luxury {
  color: #fcfeff;
  padding-bottom: 50px;
  background-color: #000000;
  border-bottom: 2px dashed #fcfeff;
}
.luxury .luxuryheading {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.luxury .carousel {
  width: 50%;
  margin: auto;
}
.luxury .carousel img {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.all4u {
  font-family: wtlight;
  padding-bottom: 50px;
  background-color: #000000;
  color: #fcfeff;
  border-bottom: 2px dashed #fcfeff;
}
.all4u .all4uheading {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.all4u .offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 70%;
  margin: auto;
}
.all4u .offers div {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #080808;
  text-align: center;
  padding-bottom: 30px;
  overflow: hidden;
}
.all4u .offers div .title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.all4u .offers div .about {
  padding: 0 20px 20px 20px;
}
.all4u .offers div img {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 100%;
  transition: 0.8s;
}
.all4u .offers div img:hover {
  transform: scale(1.1);
}
.all4u .offers div a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.place {
  font-family: wtlight;
  background-color: #000000;
  color: #fcfeff;
  padding-bottom: 50px;
  border-bottom: 2px dashed #fcfeff;
}
.place .title {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.place .reasons {
  width: 65%;
  margin: auto;
}
.place .reasons > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.place .reasons > div div {
  display: flex;
  align-items: center;
  background-color: #080808;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.place .reasons > div img {
  width: 100%;
  height: 100%;
}
.place .reasons .reasontitle {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.reviews {
  background-color: #000000;
  color: #fcfeff;
  padding-bottom: 50px;
}
.reviews .reviewsheading {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.reviews > div {
  font-family: wtlight;
}
.reviews > div .name {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  margin: 20px 0;
  font-size: 20px;
}
.reviews .flex-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  width: 70%;
  margin: auto;
}
.reviews .flex-2 div {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #080808;
  text-align: center;
  padding: 30px;
}
.reviews img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.reviews .flex-1 {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 50px auto 0 auto;
  background-color: #080808;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
}
.reviews .flex-1 div {
  text-align: center;
}

.footer {
  padding-bottom: 50px;
  background-color: #080808;
  color: #fcfeff;
}
.footer .footer-inner {
  margin: auto;
  width: 70%;
}
.footer .footer-inner .quick {
  margin-bottom: 50px;
}
.footer .footer-inner .quick p {
  margin-bottom: 20px;
}
.footer .footer-inner .quick .thelinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-inner .devandreach {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-inner .devandreach .footertopics {
  margin-bottom: 10px;
}
.footer .footer-inner .footerheading {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 30px;
  text-align: left;
}
.footer .footer-inner .footertopics {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.footer .footer-inner a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.offernav {
  color: #fcfeff;
  background-color: #000000;
  border-top: 2px dashed #fcfeff;
  padding-bottom: 50px;
}
.offernav .offerpagehead {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.offernav .offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  width: 70%;
  margin: auto;
}
.offernav .offers .offer1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/romance.jpg");
}
.offernav .offers .offer2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/wellness.jpg");
}
.offernav .offers .offer3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/family.jpg");
}
.offernav .offers .offer4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/early.jpg");
}
.offernav .offers .offer5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/suite.jpg");
}
.offernav .offers .offer6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/christmas.jpg");
}
.offernav .offers a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.offernav .offers div {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  align-items: center;
  height: 40vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  flex-direction: column;
}
.offernav .offers div p {
  margin-bottom: 20px;
}

.romantic {
  background-color: #000000;
  color: #fcfeff;
  padding: 50px 0;
  border-top: 2px dashed #fcfeff;
}
.romantic .romantic-inner {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
}
.romantic .romantic-inner img {
  width: 70%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.romantic .romantic-inner div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.romantic .romantic-inner div .romance-main-head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.romantic .romantic-inner div .about-offer {
  margin: 30px 0;
}
.romantic .romantic-inner div a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.spa {
  background-color: #000000;
  color: #fcfeff;
}
.spa .spa-hero {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.99) 20%, rgba(0, 0, 0, 0.3)), url("../img/s.png");
}
.spa .spa-hero div {
  width: 30%;
  margin-left: 100px;
}
.spa .spa-hero div .spa-hero-head {
  font-size: 60px;
  font-family: "Roboto Slab", serif;
}
.spa .spa-hero div .spa-hero-about {
  margin: 40px 0;
}
.spa .spa-hero div a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.spa .time-off {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.spa .time-off .time-off-head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.spa .time-off .time-off-about {
  margin-bottom: 50px;
}
.spa .time-off a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.spa .spa-services {
  padding-bottom: 50px;
}
.spa .spa-services .spa-services-head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.spa .spa-services .all-spa-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: 70%;
  margin: auto;
}
.spa .spa-services .all-spa-services .service {
  background-color: #080808;
  padding: 30px;
  text-align: center;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.spa .spa-services .all-spa-services .service .each-service-head {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}
.spa .spa-services .all-spa-services .service .each-service-details {
  margin-top: 15px;
  text-align: left;
}
.spa .spa-services .all-spa-services .service .each-service-details p:nth-child(2) {
  margin: 10px 0;
}

.restaurant_bar {
  color: #fcfeff;
  text-align: center;
  background-color: #080808;
  border-bottom: 2px dashed white;
}
.restaurant_bar .restaurant_bar_hero {
  height: 100vh;
  background: linear-gradient(to bottom, #080808 50%, black 50%);
}
.restaurant_bar .restaurant_bar_hero .restaurant_bar_hero_title {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.restaurant_bar .restaurant_bar_hero img {
  width: 50%;
}
.restaurant_bar .menu_head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.restaurant_bar .the_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.restaurant_bar .the_menu > div {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pizza_2.png");
  padding: 20px 20px 0 20px;
}
.restaurant_bar .the_menu > div .each_menu_head {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  padding-bottom: 20px;
}
.restaurant_bar .the_menu > div .menu_list .food_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.rooms_suites {
  background-color: #000000;
  color: #fcfeff;
  padding-bottom: 50px;
  border-top: 2px dashed #fcfeff;
}
.rooms_suites .rooms_suiteshead {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.rooms_suites .therooms {
  margin: auto;
}
.rooms_suites .therooms .room {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.rooms_suites .therooms .room .roomname {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
.rooms_suites .therooms .room .details {
  margin: 30px 0 30px 15px;
}
.rooms_suites .therooms .room img {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 50%;
}
.rooms_suites .therooms .room a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.gallery {
  color: #fcfeff;
  background-color: #000000;
  padding-bottom: 50px;
  border-top: 2px dashed #fcfeff;
}
.gallery .gallery-head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}
.gallery .grid {
  display: grid;
  grid-template-areas: "_15 _16 _18 _5  _5" "_15 _14 _13 _17 _10" "_19 _19 _4 _17 _12";
}
.gallery .grid div {
  width: 100%;
  border: 20px dashed #000000;
  overflow: hidden;
}
.gallery .grid img {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s;
}
.gallery .grid img:hover {
  transform: scale(1.1);
}
.gallery .grid ._4 {
  grid-area: _4;
}
.gallery .grid ._5 {
  grid-area: _5;
}
.gallery .grid ._10 {
  grid-area: _10;
}
.gallery .grid ._12 {
  grid-area: _12;
}
.gallery .grid ._13 {
  grid-area: _13;
}
.gallery .grid ._14 {
  grid-area: _14;
}
.gallery .grid ._15 {
  grid-area: _15;
}
.gallery .grid ._16 {
  grid-area: _16;
}
.gallery .grid ._17 {
  grid-area: _17;
}
.gallery .grid ._18 {
  grid-area: _18;
}
.gallery .grid ._19 {
  grid-area: _19;
}

.error404 {
  background-color: #000000;
  color: #fcfeff;
  border-top: 2px dashed #fcfeff;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}
.error404 .error404_inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.error404 .error404_inner .error_message {
  width: 50%;
}
.error404 .error404_inner .error_message .error_message_head {
  font-size: 60px;
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding: 0;
}
.error404 .error404_inner .error_message .error_message_about {
  margin: 40px 0;
}
.error404 .error404_inner img {
  width: 40%;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.error404 .error404_inner a {
  text-decoration: none;
  color: inherit;
  background-color: #fe0036;
  padding: 12px 30px;
  display: inline-block;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (max-width: 800px) {
  .navbar .bar {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul li {
    margin-bottom: 20px;
  }
}
.navremoval {
  display: block !important;
  text-align: center;
}

@media screen and (max-width: 351px) {
  .hero .text .home {
    font-size: 20px;
  }
  .hero .text .welcome {
    font-size: 40px;
  }
}
@media screen and (max-width: 1141px) {
  .luxury .carousel {
    width: 70%;
  }
}
@media screen and (max-width: 941px) {
  .luxury .carousel {
    width: 80%;
  }
}
@media screen and (max-width: 801px) {
  .luxury .luxuryheading {
    font-size: 40px;
    padding: 50px 30px;
  }
  .luxury .carousel {
    width: 90%;
  }
}
@media screen and (max-width: 1141px) {
  .all4u .offers {
    width: 80%;
  }
}
@media screen and (max-width: 941px) {
  .all4u .all4uheading {
    padding: 50px 30px;
  }
  .all4u .offers {
    width: 90%;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 801px) {
  .all4u .all4uheading {
    font-size: 40px;
  }
  .all4u .offers {
    width: 70%;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 701px) {
  .all4u .offers {
    width: 80%;
  }
}
@media screen and (max-width: 351px) {
  .all4u .offers {
    width: 90%;
  }
}
@media screen and (max-width: 1141px) {
  .place .title {
    padding: 50px 20px;
  }
  .place .reasons {
    width: 80%;
  }
}
@media screen and (max-width: 941px) {
  .place .reasons {
    width: 90%;
  }
}
@media screen and (max-width: 801px) {
  .place .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 701px) {
  .place .reasons {
    width: 100%;
  }
  .top-left {
    border-top-left-radius: 0;
  }
  .bottom-right {
    border-bottom-right-radius: 0;
  }
}
@media screen and (max-width: 551px) {
  .place {
    text-align: center;
  }
  .place .reasons {
    width: 100%;
  }
  .place .reasons > div {
    grid-template-columns: 1fr;
  }
  .place .reasons > div img {
    display: none;
  }
}
@media screen and (max-width: 1141px) {
  .reviews .flex-2,
.reviews .flex-1 {
    width: 80%;
  }
}
@media screen and (max-width: 941px) {
  .reviews .flex-2,
.reviews .flex-1 {
    width: 90%;
  }
}
@media screen and (max-width: 801px) {
  .reviews .reviewsheading {
    font-size: 40px;
  }
  .reviews .flex-2 {
    grid-template-columns: 1fr;
  }
  .reviews .flex-1 {
    padding: 30px;
  }
}
@media screen and (max-width: 1141px) {
  .footer .footer-inner .quick .thelinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 801px) {
  .footer .footer-inner {
    width: 80%;
  }
}
@media screen and (max-width: 601px) {
  .footer .footer-inner .quick .thelinks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 481px) {
  .footer {
    text-align: center;
  }
  .footer .footer-inner .quick .thelinks {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .footer-inner .devandreach {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 1095px) {
  .spa .spa-hero div {
    width: 50%;
  }
}
@media screen and (max-width: 995px) {
  .spa .spa-hero {
    background-position: center;
  }
  .spa .spa-hero div {
    width: 50%;
  }
  .spa .time-off {
    width: 70%;
  }
  .spa .spa-services .all-spa-services {
    width: 80%;
  }
}
@media screen and (max-width: 795px) {
  .spa .time-off {
    width: 80%;
  }
  .spa .spa-services .all-spa-services {
    width: 90%;
  }
}
@media screen and (max-width: 695px) {
  .spa .spa-hero {
    background-position: center;
  }
  .spa .spa-hero div {
    width: 100%;
  }
  .spa .time-off .time-off-head {
    font-size: 40px;
  }
  .spa .spa-services .spa-services-head {
    font-size: 40px;
  }
  .spa .spa-services .all-spa-services {
    grid-template-columns: repeat(1, 1fr);
  }
  .spa .spa-services .all-spa-services .service .each-service-details {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 495px) {
  .spa .spa-hero {
    justify-content: center;
    background-position: center;
  }
  .spa .spa-hero div {
    margin: 0;
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 395px) {
  .spa .spa-hero div .spa-hero-head {
    font-size: 40px;
  }
  .spa .time-off {
    width: 90%;
  }
}
@media screen and (max-width: 1142px) {
  .restaurant_bar .restaurant_bar_hero img {
    width: 60%;
  }
  .restaurant_bar .the_menu {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 842px) {
  .restaurant_bar .restaurant_bar_hero img {
    width: 70%;
  }
}