//luxury
@media screen and (max-width: 1141px) {
  .luxury {
    & .carousel {
      width: 70%;
    }
  }
}
@media screen and (max-width: 941px) {
  .luxury {
    & .carousel {
      width: 80%;
    }
  }
}
@media screen and (max-width: 801px) {
  .luxury {
    & .luxuryheading {
      font-size: 40px;
      padding: 50px 30px;
    }
    & .carousel {
      width: 90%;
    }
  }
}
//all4u
@media screen and (max-width: 1141px) {
  .all4u {
    & .offers {
      width: 80%;
    }
  }
}
@media screen and (max-width: 941px) {
  .all4u {
    & .all4uheading {
      padding: 50px 30px;
    }
    & .offers {
      width: 90%;
      grid-gap: 2rem;
    }
  }
}
@media screen and (max-width: 801px) {
  .all4u {
    & .all4uheading {
      font-size: 40px;
    }
    & .offers {
      width: 70%;
      grid-gap: 2rem;
      grid-template-columns: 1fr;
    }
  }
}

//place
@media screen and (max-width: 1141px) {
  .place {
    & .title {
      padding: 50px 20px;
    }
    & .reasons {
      width: 80%;
    }
  }
}
@media screen and (max-width: 941px) {
  .place {
    & .reasons {
      width: 90%;
    }
  }
}
@media screen and (max-width: 801px) {
  .place {
    & .title {
      font-size: 40px;
    }
    & .reasons {
    //   width: 80%;
    }
  }
}
//reviews
@media screen and (max-width: 1141px) {
  .reviews {
    & .flex-2,
    .flex-1 {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1141px) {
  .reviews {
    & .flex-2,
    .flex-1 {
      width: 90%;
    }
  }
}
